/* code for the header */
header {
  color: white;
  background-color: black;
  font-family: cursive;
}


/* code for the body */
body {
  background-color: rosybrown;
}

.center {
  text-align: center;
}

p {
  font-family: sans-serif;
}

/*   image   */
img {
  width: 200px;
  margin: 10px;
  height: 100%;

}

li {
  text-align: left;
  font-size: 15px;
}



/* pseudo-class for links */
a:link {
  color: white;
}
a:visited {
  color: black;
}
a:hover {
  color: deeppink;
}
a:active {
  color: blue;
}

footer{
  padding: 30px;
}